* {
  /* text-align: center; */
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: ghostwhite;
}

/* SCROLL BAR */
::-webkit-scrollbar-track {
  background-color: ghostwhite;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #141414;
  border: none;
  border-radius: 2.5px;
}

/*SPACING*/
.mt-4 {
  margin-top: 4em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-0 {
  margin-bottom: 0em;
}

.mr-1 {
  margin-right: 0.7em;
}

.p-0 {
  padding: 0 !important;
}

.pb-1 {
  padding-bottom: 1em;
}

/*COLORS*/
.bg-black {
  background-color: #141414;
}

.text-gray {
  color: gray;
}

/* TEXT */
h1,
.h1 {
  font-weight: 800;
  margin: 1.5rem;
}

p {
  line-height: 2rem;
}

.subheading {
  font-size: 1.64rem;
  line-height: 1.5;
  margin: 1.5rem;
}

.lighter {
  font-weight: 200 !important;
}

/* BUTTONS */
.hover:hover {
  opacity: 0.6;
}

#btn-resume {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn-floating:hover {
  background-color: dimgray !important;
}

/*NAV*/
nav {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

nav i,
nav [class^='mdi-'],
nav [class*='mdi-'],
nav i.material-icons {
  line-height: 38px !important;
}

.section {
  height: 100vh;
}

#hero-image {
  height: 30vh;
  background: url('../images/07.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  opacity: 0.8;
}

.btn-resume > a {
  margin-top: 2em;
}

#hero {
  animation: pulse 10s ease-in-out 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #141414;
    color: #fff;
  }
  50% {
    background-color: ghostwhite;
  }
  100% {
    background-color: #141414;
    color: #fff;
  }
}

/* STACK */
.stack-tools {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.stack-tools > div {
  height: 50px;
  flex-grow: 1;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  flex-basis: 30px;
  margin: 1rem;
}

.stack-tools > div:first-child {
  background: url('../images/html-5.png');
  animation: float 10s ease-in infinite;
}

.stack-tools > div:nth-child(2) {
  background: url('../images/css.png');
  animation: float 6s ease infinite;
}

.stack-tools > div:nth-child(3) {
  background: url('../images/sass.png');
  animation: float 10s ease-in-out infinite;
}

.stack-tools > div:nth-child(4) {
  background: url('../images/javascript.png');
  animation: float 6s ease infinite;
}

.stack-tools > div:nth-child(5) {
  background: url('../images/mongodb.png');
  animation: float 10s ease-out infinite;
}

.stack-tools > div:nth-child(6) {
  background: url('../images/mysql.png');
  animation: float 6s ease-in-out infinite;
}

.stack-tools > div:nth-child(7) {
  background: url('../images/node-js.png');
  animation: float 10s ease infinite;
}

.stack-tools > div:nth-child(8) {
  background: url('../images/express.png');
  animation: float 6s ease-in-out infinite;
}

.stack-tools > div:nth-child(9) {
  background: url('../images/react.png');
  animation: float 10s ease-in-out infinite;
}

.stack-tools > div:nth-child(10) {
  background: url('../images/graphql.png');
  animation: float 6s ease-out infinite;
}

.stack-tools > div:nth-child(11) {
  background: url('../images/apollo.png');
  animation: float 10s ease infinite;
}

.stack-tools > div:nth-child(12) {
  background: url('../images/postman.png');
  animation: float 6s ease-in infinite;
}

.stack-tools > div:nth-child(13) {
  background: url('../images/nextjs.png');
  animation: float 10s ease-out infinite;
}

.stack-tools > div:nth-child(14) {
  background: url('../images/dart.png');
  animation: float 6s ease infinite;
}

.stack-tools > div:nth-child(15) {
  background: url('../images/flutter.png');
  animation: float 6s ease-in infinite;
}

.stack-tools > div:nth-child(15) {
  background: url('../images/laravel.png');
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* PROJECTS */
.carousel-cell {
  width: 100%; /* full width */
  height: 100vh; /* height of carousel */
  margin-right: 10px;
}

.carousel-cell > .carousel-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-carousel div.carousel-cell:first-child {
  background-color: #424242 !important;
  color: ghostwhite;
}

.main-carousel div.carousel-cell p:first-of-type {
  color: dimgray !important;
  font-weight: 300 !important;
}

.carousel-cell > .carousel-content h3.h1 {
  margin: 0;
}

/* .main-carousel div.carousel-cell:nth-child(2) {
  background: url('../images/sonore.png');
  background-size: ;
} */

/* position dots up a bit */
.flickity-page-dots {
  bottom: 30px;
}

/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

span.badge {
  margin: 0 5px 0 0;
}

/* FOOTER */
#footer,
#credits {
  background-color: rgba(20, 20, 20, 0.2);
}

#footer h2.h1 {
  background: url('../images/space.gif');
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: cover;
  margin: 1.5rem 0;
}

#footer > .container {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

/* MODAL */
.modal:focus {
  outline: none !important;
}

#resume-modal .subheading {
  font-size: 1.4rem;
  margin: 1rem 0;
}

#resume-modal a {
  margin: 1rem 0;
  color: ghostwhite;
  background-color: gray;
}

.modal.bottom-sheet {
  overflow: hidden important!;
}

/* // Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
  /* NAV */
  #hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-resume > a {
    margin-top: 0;
  }

  h1,
  .h1 {
    font-size: 5.2rem;
    margin: 1.5rem 0;
  }

  .h2 {
    font-size: 4.56rem;
    margin: 1.5rem 0;
  }

  .subheading,
  #projects .subheading {
    font-size: 2rem;
    line-height: 1.5;
    margin: 2rem 0;
  }

  #hero-image {
    height: 50vh;
    margin-top: 5rem;
  }

  /* STACK */
  #stack {
    display: unset;
  }

  .stack-tools {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .stack-tools > div {
    height: 70px;
    flex-grow: 1;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    flex-basis: 70px;
    margin: 1.5rem;
  }

  #resume-modal .heading {
    font-weight: 800;
    margin: 1.5rem 0;
    font-size: 2.2rem;
    color: ghostwhite;
  }

  #resume-modal .subheading {
    font-size: 1.6rem;
    margin: 1rem 0;
    color: ghostwhite;
  }

  #resume-modal a {
    margin: 1rem 0;
    /* color: #141414; */
    color: ghostwhite;
    background-color: gray;
  }

  .modal.bottom-sheet {
    overflow: hidden;
  }

  /* PROJECTS */
  .main-carousel div.carousel-cell > .carousel-content p {
    font-size: 1.4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* NAV */

  #hero > .container {
    left: 50%;
    top: 55%;
  }

  h1,
  .h1 {
    font-size: 6.8rem;
  }

  .subheading {
    margin: 2.5rem 0;
  }

  #hero-image {
    height: 60vh;
    margin-top: 5rem;
  }

  /* STACK */
  #stack {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
