
html {
  font-size:16px;
}

/*SPACING*/

.mt-5 {
  margin-top:5em;
}

.mt-4 {
  margin-top:4em;
}

.mt-3 {
  margin-top:3em;
}

.mt-2 {
  margin-top:2em;
}

.mt-1 {
  margin-top:1em;
}

.mb-5 {
  margin-bottom:5em;
}

.mb-4 {
  margin-bottom:4em;
}

.mb-3 {
  margin-bottom:3em;
}

.mb-2 {
  margin-bottom:2em;
}

.mb-1 {
  margin-bottom:1em;
}

.mr-p2 {
  margin-right:.2em;
}

.p-lg-10 {
  padding:10px;
}

.p-0 {
  padding:0!important;
}

.pb-5 {
  padding-bottom:5em;
}

.pb-4 {
  padding-bottom:4em;
}

.pb-3 {
  padding-bottom:3em;
}

.pb-2 {
  padding-bottom:2em;
}

.pb-1 {
  padding-bottom:1em;
}

.pt-5 {
  padding-top: 5em;
}

.pt-4 {
  padding-top: 4em;
}

.pt-3 {
  padding-top: 3em;
}

.pt-2 {
  padding-top: 2em;
}

.pt-1 {
  padding-top: 1em;
}

.mt-lg-3 {
  margin-top:3em;
}

.mt-lg-2{
  margin-top:2em;
}


/*.roboto {*/
  /*font-family: 'Roboto Condensed', sans-serif;*/
/*}*/

.gradient {
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.orange-border {
 border:1px solid #ff7f00;
}

.text-gradient {
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lighter {
  font-weight:200!important;
}

.relative {
  position:relative;
}

.complementary{
  background-color:#2E294E!important;
}

#avatar {
  width:250px;
}

#btn-resume {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  /*font-size: 18px;*/
  border: none;
  outline: none;
  cursor: pointer;
  /*padding: 15px;*/
  /*border-radius: 4px;*/
}

/*#myBtn:hover {*/
  /*background-color: #555;*/
/*}*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity:0;
  height:99.2%;
  transition: .5s ease;
  background-color:#2E294E;
}

.relative:hover .overlay {
  /*background: rgba(0, 0, 0, 0.75);*/
  opacity:1;
}

.logo-font{
  /*font-family: 'Righteous', cursive;*/
  /*font-family: 'Actor', sans-serif;*/
  font-family: 'Nobile', sans-serif;
  font-weight:500;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#title span{
  content:"rest"!important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav {
  box-shadow:none!important;
  -webkit-box-shadow:none!important;
}

p {
  line-height: 2rem;
}

.font-weight-700 {
  font-weight:700;
}



/*.brand-logo {*/
  /*!*font-family: 'Finger Paint', cursive;*!*/
  /*font-family: 'Roboto Condensed', sans-serif;*/
/*}*/

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

#resume .modal-content {
  padding:0!important;
}

.modal .modal-overlay {
  opacity:0.75!important;
}

.modal:focus {
  outline:none!important;
}

.responsive-icon-size{
  font-size:5em;
}

.modal {
  width: 30%;
}

.modal .modal-footer{
  padding-right: 18px;
}

.responsive-border{
  border-right: 1px solid #E6ECF8;
}



@media only screen and (max-width : 992px) {

  html {
    font-size:.8rem;
  }

  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .responsive-icon-size{
    font-size:4em;
  }

  #avatar {
    width:220px;
  }

  nav .brand-logo {
    left: 15%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .modal {
    width: 55%;
  }


  .modal .modal-footer{
    padding-right: 18px;
  }

  .responsive-padding {
    padding-left:15px;
    padding-right:15px;
  }

  .responsive-border{
    border-right: 1px solid #E6ECF8;
  }

  .mt-md-5 {
    margin-top:5em;
  }

  .mt-md-3{
    margin-top:3em;
  }

  .mt-md-1{
    margin-top:1em;
  }

  .p-md-10 {
    padding:15px!important;
  }

}



@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*margin-top: 1em;*/
  }


  .modal .modal-footer{
    padding-right: 15px;
  }

  #avatar {
    width:180px;
  }

  .responsive-icon-size{
    font-size:2em;
  }

  html {
    font-size:.7rem;
  }


  .modal {
    width: 85%;
  }

  .responsive-border{
    padding-bottom: 2em!important;
    border-bottom: 1px solid #E6ECF8;
    border-right: none;
  }

  .mt-sm-1 {
    margin-top:1em;
  }

}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
